*{
    margin: 0%;
    padding: 0%;
    overflow: hidden;
}
.homepage {
    background: linear-gradient(270deg, #8cbb8e, #df8db1, #ede8d0);
    background-size: 600% 600%;
    -webkit-animation: AnimationName 0s ease infinite;
    -moz-animation: AnimationName 0s ease infinite;
    animation: AnimationName 0s ease infinite;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    overflow: hidden;
  }

.light-mode {
    background: linear-gradient(-45deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1)); 
    animation: none;
}

.dark-mode{
    background: radial-gradient(circle, rgba(255, 255, 255, 1), rgba(143, 188, 143, 1), rgba(189, 195, 199, 1)); 
    background-size: 200% 200%; /* Adjusted size for radial gradient */ 
    -webkit-animation: AnimationName 6s linear infinite; 
    -moz-animation: AnimationName 6s linear infinite; 
    animation: AnimationName 6s linear infinite; 
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
  

.animated-text {
    padding-top: 5%;
    p{
        font-family: "Abril Fatface";
        font-size: 4rem;
        font-weight: 300;
        white-space: nowrap;
        /* letter-spacing: 0.5em; */
        /* animation: moveUp 2s ease-in-out forwards; */
    }
    /* animation: moveUp 1s forwards;
    animation-timing-function: linear;
    letter-spacing: 0.5em; */

}

.animate-text {
    animation: moveUp 1s forwards;
    animation-timing-function: linear;
    letter-spacing: 0.5em;
}

  /* Styling the expanding div */
  .expanding-div {
    padding-top: 7%;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    background-color: rgba(148,187,233,0);
    position: absolute;
    height: 65%; /* Adjust height as needed */
    width: 65%; /* Start with 0 width */
    /* visibility: hidden;
    transform: translateY(100%);
    animation: slideUp 1s ease-out forwards; Adjust duration and easing as needed */
  }

  .expand-div{
    visibility: hidden;
    transform: translateY(100%);
    animation: slideUp 0s ease-out forwards; /* Adjust duration and easing as needed */
  }
  
  @keyframes slideUp {
    0% {
      transform: translateY(100%); /* Start off-screen below */
      visibility: visible;
    }
    100% {
      transform: translateY(0); /* End at the original position */
      visibility: visible;
    }
  }


  @keyframes moveUp {
    /* Start from below */
    0% { 
        transform: translateY(100em) scale(2); /* Start off-screen below */
        letter-spacing: 0em;
    }

    15% {
        transform: translateY(50em) scale(1.75);
        letter-spacing: 0em;
    }

    30% {
        transform: translateY(25em) scale(1.5);
        letter-spacing: 0em;
    }

    50% {
        transform: translateY(10em) scale(1.25);
        letter-spacing: 0em;
    }

    75% {
        transform: translateY(0) scale(1);
        letter-spacing: 1em;
    }

    /* Stop at the top within visible area */
    100% {
        transform: translateY(0) scale(1);
        letter-spacing: 1em;
    }
}



@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.header{
    margin-top: 5%;
    width: 100%;
    color: #CBFDD0;
    font-family: 'Abril Fatface';
    font-size: 500%;
    font-weight: lighter;
    visibility: hidden;
    p{
        letter-spacing: 0.15em;
    }
    animation: slideUp 1s ease-in forwards;

}   

.crossword-intro{
    background-color: rgba(148,187,233,0);
    width: 90%;
    justify-items: center;
    height: 100%;
    align-content: center;
    color: black;
    font-family: "IBM Plex Mono";
    margin-bottom: 0%;
}

.cross{
    background-color: rgba(148,187,233,0);
    font-size: 175%;
    width: 100%;
}

.crossword-intro td {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
    border-radius: 0.1em;
    width: 5%;
    height: 3vw;
    text-align: center;
    font-size: 1.5rem;
    color: white;
    opacity: 0;
    transition: opacity 0.5 ease-in-out;
    gap: 0%

}


.crossword-intro td:hover{
  background-color: rgba(255, 192, 203, 0.1); /* Slightly more opaque on hover */
  transform: scale(1.15);
  border-color: rgba(192, 192, 192, 0.7); /* Darker grey borders on hover */
}


.note{
    visibility: hidden;
    position: absolute;
    bottom: 8%;
    justify-items: center;
    align-content: center;
    padding: 0%;
    width: 20%;
    height: 5%;
    /* opacity: 0;
    animation: slideUp 1s ease-in-out forwards; */

    button{
        background-color: black;
        color: white;
        border-style: none;
        font-family: "IBM PLex Mono";
        width: 100%;
        height: 100%;
        font-size: large;
    }
}

.animate-note{
    opacity: 0;
    animation: slideUp 1s ease-in-out forwards;
}

.note:hover {
    transform: translateY(-0.5em) !important; /* Moves the element up by 1em */
}

.menu{
    width: 60%;
    justify-items: center;
    height: 55%;
    align-content: center;
    color: #FFFFFF;
    font-family: "IBM Plex Mono";
    margin-bottom: 0%;
    background-color: #FFFFFF;
}

.menu table{
    width: 40%;
    height: 6vw;
}

.menu td {
    width: 25%;
    height: 3vw;
    text-align: center;
    font-size: 1.5rem;
    color: #FFFFFF;
    background-color: black;
    gap: 0%;

}

.menu td:hover{
    transform: scale(1.15);
}

.about-me{
    position: absolute;
    left: 30%;
    top: 25%;
    width: 2.5%;

    button {
        background-color: #FFFFFF;
        width: 100%;
        height: 100%;
        border: none;
        padding: 0%;
        margin: 0%;

        table{
            width: 100%;
        }
    }
}
.about-me td{

    background-color: rgba(100, 174, 57, 0.8);
    font-family: "IBM Plex Mono";
    font-size: 200%;
    margin: 0%;
    border: none;
    border-radius: 0.1em;
}

.about-me td:hover{
    transform: scale(1.15);
}
.contact{
    position: absolute;
    right: 30%;
    top: 23%;
    width: 2.5%;

    button {
        background-color: #FFFFFF;
        width: 100%;
        height: 100%;
        border: none;
        padding: 0%;
        margin: 0%;

        table{
            width: 100%;
        }
    }
}
.contact td{

    background-color: rgba(100, 174, 57, 0.8);
    font-family: "IBM Plex Mono";
    font-size: 200%;
    margin: 0%;
    border-radius: 0.1em;
}

.contact td:hover{
    transform: scale(1.15);
}

.projects{
    position: absolute;
    right: 40%;
    top: 50%;
    width: 20%;

    button {
        background-color: #FFFFFF;
        width: 100%;
        height: 100%;
        border: none;
        padding: 0%;
        margin: 0%;

        table{
            width: 100%;
        }
    }
}
.projects td{
    width: 12.5%;
    background-color: rgba(100, 174, 57, 0.8);
    font-family: "IBM Plex Mono";
    font-size: 200%;
    margin: 0%;
    border-radius : 0.1em;
    padding: 1%;
}

.projects td:hover{
    transform: scale(1.15);
}