
body{
    background-color: #769dbf;
    margin: 0;
}

.header{
    z-index: 1;
    animation: slide-down 2s ease-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    position: fixed;
    width: 100%;
    background-color:#F4EFE8;
    color:#930A31;
    display: block;
    justify-items: center;
    margin-bottom: 0%;
    align-items: center;
    overflow: hidden;
    height: fit-content;
    .menu{
        margin-left: 5%;
        margin-right: 30%;
        display: flex;
        margin-right: 1%;
        justify-items: space-around;
        
        button{
            background-color:#F4EFE8;
            margin-left: 40px;
            padding: 10px;
            border: none;
            color: black;
            font-size: large;
            font-family: 'Playfair Display';
            letter-spacing: 1px;
            font-weight:bolder;
        }
        button:hover{
            cursor: pointer;
            background-color: #930A31;
            color: #F4EFE8;
            border-radius: 15px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            font-size: larger;

        }
    }


    img{
        margin-left: 45%;
        margin-right: 40%;
        height: 90px;
        width: 90px;
        padding-left: 0;
        margin-right: auto;
        border-radius: 100%;
    }
    img:hover{
        height: 150px;
        width: 150px;
    }

}


.mainBody{
    overflow: hidden;
    display: block;
    justify-items: center;
    font-family:  "Abril Fatface";
    font-size: 30px;
    background-color: #769dbf;
    color: #003559;
    padding-top: 7%;
    h1{
        text-align: center;
    }
  
    .contacts{
        animation: slide-left 3s ease-out ;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        background-color: #F4EFE8;
        width: 40%;
        min-height: fit-content;
        padding: 5% 5%;
        padding-bottom: 10%;;
        margin: 5% 20%;
        border-radius : 10px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(35%, 1fr));
        justify-content: center; 
        align-items: center; 
        text-align: center;
        gap: 10%;
        span{
            display: flex;
            align-items: center;
            justify-items: center;
            h3{
                font-family: "Playfair Display";
                font-size: 20px;
                
                a{
                    color: black;
                    text-decoration: none;
                }
            }
            img{
                /*border-radius: 100%;*/
                margin-right: 10px;
                height: 40px;
                width: auto;
            }
        }
        

    }

}


@keyframes colorChange {
    0% {
        color: brown;
    }
    25%{
        color: sienna;
    }
    50%{
        color: chocolate;
    }
    75% {
        color: sienna;
    }
    100%{
        color: brown;
    }

}

@keyframes slide-down{
    from{
        transform : translateY(-100%);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
 

}

@keyframes slide-left{
    from{
        transform : translateX(-30%);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }

}

@keyframes slide-right{
    from{
        transform : translateX(130%);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }

}


@keyframes slide-up {
    from {
        opacity: 0;
        transform: translateY(200%);
    }
    to{
        opacity: 100;
        transform: translateY(0);
    }
}


.whenClicked {
    transform: translate(-50%, -50%);
    position: fixed;
}


.helpful-hint{
    font-family: "Playfair Display";
    color:#F4EFE8;
    font-weight: lighter;
    /*font-size: 60px;*/
}