
body{
    background-color:#F4EFE8;
    margin: 0;
}

.header{
    animation: slide-down 1s ease-out;
    position: fixed;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    width: 100%;
    background-color:#003559;
    color:#B0530C;
    display: block;
    justify-items: center;
    margin-bottom: 0%;
    align-items: center;
    overflow: hidden;
    height: fit-content;
    .menu{
        margin-left: 28%;
        margin-right: 30%;
        display: flex;
        margin-right: 1%;
        justify-items: space-around;
        
        button{
            background-color:#003559;
            margin-left: 40px;
            padding: 10px;
            border: none;
            color:#F4EFE8;
            font-size: large;
            font-family: 'Playfair Display';
            letter-spacing: 1px;
            font-weight:bolder;
        }
        button:hover{
            cursor: pointer;
            background-color: #930A31;
            color: #F4EFE8;
            border-radius: 15px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            font-size: larger;

        }
    }


    img{
        margin-left: 45%;
        margin-right: 40%;
        height: 90px;
        width: 90px;
        padding-left: 0;
        margin-right: auto;
        border-radius: 100%;
    }
    img:hover{
        height: 150px;
        width: 150px;
    }

}


@keyframes slide-down{
    from{
        transform : translateY(-100%);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
 

}

.footer{
    background-color: #003559;
    display: flex;
    height: 250px;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    font-family: "PlayFair Display";
    color:#F4EFE8;
    .left{
        margin: 0%;
        display: block;
        padding-left: 3%;
        width: 20%;
    }

    .right{
        display: flex;
        align-items: center;
        width: 25%;
        height: 150px;
        padding: 20px;
    }
}

.whenClicked {
    transform: translate(-50%, -50%);
    position: fixed;
}


#projects-container {
    padding-top: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    height: fit-content;
    gap: 20px;
    margin-bottom: 5%;
}
.project-tile {
    animation: slide-left 2s ease-out ;
    margin-top: 50px;
    border: 1px solid #ccc;
    padding: 10px;
    width: 70%;
    text-align: center;
    height: fit-content;
    border-color: #769dbf;
    border-width: 10px;
    h2{
        font-family: "Abril Fatface";
    }
    p{
        font-family: "Playfair Display";
    }
    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

.project-tile img {
    width: 450px;
    height: auto;
}


@keyframes slide-left{
    from{
        transform : translateX(-30%);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }

}